<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>ga-web</display-name>

	<listener>
		<listener-class>ch.eiafr.web.EnOceanStartListener</listener-class>
	</listener>

	<!-- <servlet> <servlet-name>AdminServlet</servlet-name> <servlet-class>ch.eiafr.web.knx.admin.AdminServlet</servlet-class> 
		</servlet> -->
	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>ch.eiafr.web.enocean.admin</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>staticAssets</servlet-name>
		<servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GatewayServlet</servlet-name>
		<servlet-class>ch.eiafr.web.enocean.EnOceanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping> <servlet-name>AdminServlet</servlet-name> <url-pattern>/admin/*</url-pattern> 
		</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>GatewayServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>staticAssets</servlet-name>
		<url-pattern>/enocean/*</url-pattern>
	</servlet-mapping>
</web-app>